<!DOCTYPE html>
<html>
    <head>
            <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"> </script>
           
        <style> 
    p{
font-size: larger;
color: royalblue;
text-align:justify,center
        }
        
        </style>
        
        <p>This Chat Application has been made by Mr.Mukul Vij with the complete support of Mr.Prabhnoor Singh Bhattal.
            BridgeLabz Solutions and its mentor engineers have also played a large part in helping complete this Application.
            For Any Support,Contact:-+919888107076 
        </p>
        <!-- <button ng-click="socket.on()">BACKGROUND</button> -->
        <script src = "/socket.io/socket.io.js"></script>
        <script> var socket = io() 
                socket.on('testerEvent!', function(data){document.write(data.description)});
                </script>
    </head>
</html>