<!DOCTYPE html>
<html lang="en-US">
    <head>
            <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"> </script>
            <p style="color: royalblue">For new User ,click on REGISTER </p> 
            
</head>
<body>


   
    <!-- <button type="submit" onclick="windows.location.href='file:///home/admin1/Desktop/Mukulvij96/node-CHAT-APP/register.html'" > Register! </button> -->
    <!-- <form> -->
        <!-- <input type="button" value="Register!"
            onclick="parent.location='/home/admin1/Desktop/Mukulvij96/node-CHAT-APP/UI/templates/register.html'" /> -->

    <!-- </form> -->
    <p style="color: royalblue">For already existing User,click on the LOGIN </p> 
    
    Email:<br>  
    <input type="email" placeholder="example@xyz.com" ng-model="email"><br>
    Password:<br>
    <input type="password" placeholder="********" ng-model="password"><br><br>

    <button type="submit" ng-click=loginController()> LOGIN! </button>
    <a href="http://localhost:3000/#!/register"><button>REGISTER</button></a><br><br>
    <a href="http://localhost:3000/#!/forget"> Forgot Password?</a><br><br>

    
        
</body>
</html>