<!DOCTYPE html>
<html lang="en-US">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"> </script>   
    <h1 style="text-align: center" style="font: bold,xx-large">REGISTER NOW</h1>
    </head>
<form name= 'form'>  
    <p style="font: bolder" style="font-size: larger" >Now the new User will enter his login credentials </p>
    First Name: <br>
    <input type="text" placeholder="FirstName" ng-model="firstName" ><br>
    Last Name : <br>
    <input type="text" placeholder="LastName" ng-model="lastName" ><br>
    Email     : <br>
    <input type="email" placeholder="example@xyz.com" ng-model="email" ><br>
    Password  : <br>
    <input type="password" placeholder="********" ng-model="password" ><br>
    <br>
    <button type="submit" ng-click="registerController()"> REGISTER </button>
</form>
</html>
<!-- <h1>i am in register page</h1> -->