<!DOCTYPE html>
<html lang="en-US">
    <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"> </script> 
</head>
<body>
    <div>
    <h1 style="font-style: oblique" style="font-size: larger">NOW YOU WILL CHANGE THE PASSWORD</h1><br>

    New Password: 
    <input type="password" placeholder="New password" ng-model="newPassword"><br>
    Confirm Password:
    <input type="password" placeholder="Confirm password" ng-model="confirmPassword"><br>

    <button type="submit" ng-click="resetController()"> CHANGE PASSWORD! </button>
</div>
</body>
</html>