<mat-toolbar class="toolbar-container" fxLayoutAlign="space-between center">
    <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>list</mat-icon>
    </button>
    <img src='../../../assets/images/FundooNotes1.jpeg' fxHide.lt-md="true">
    <form class="my-form" fxFlex="50" fxFlex.xs="100" fxLayout="row" FxLayoutAlign="start stretch">
        <input type="search" class="search-container" name="searchBar" placeholder="Search" appearance="outline"
            fxHide.lt-sm="true">
    </form>
    <div class="icon-tray" fxFlex="15" fxFlex.xs="100" fxLayout="row" fxLayoutAlign="space-around stretch">
        <button mat-icon-button fxHide.md="true" (click)="opened = !opened">
            <mat-icon>search</mat-icon>
        </button>
        <button mat-icon-button (click)="opened = !opened">
            <mat-icon>refresh</mat-icon>
        </button>
        <button mat-icon-button (click)="opened = !opened">
            <mat-icon>list_view</mat-icon>
        </button>
        <button mat-icon-button (click)="opened = !opened">
            <mat-icon>settings</mat-icon>
        </button>
    </div>
    <div fxFlex="10" fxFlex.xs="100" fxLayout="row" fxLayoutAlign="start center">
        <button mat-icon-button (click)="opened = !opened">
            <mat-icon>grid_on</mat-icon>
        </button>
        <button mat-icon-button (click)="opened =!opened">
            <mat-icon>email</mat-icon>
        </button>
    </div>
</mat-toolbar>
<mat-divider></mat-divider>
<mat-drawer-container class="sideNav-container" fxLayout="column">
    <mat-drawer class="sideNav-drawer" #drawer mode="side">
        <mat-nav-list fxLayout="column" fxLayoutAlign="space-around stretch">
            <button mat-icon-button (click)="displayAvailableNotes()">
                <mat-icon>note</mat-icon><span>Notes</span>
            </button>
            <button mat-icon-button >
                <!-- <app-display fxFlex="100" fxLayout="column wrap" fxLayoutAlign="space-evenly stretch"></app-display> -->
                <mat-icon>notifications_none</mat-icon>Reminders
            </button>
            <mat-divider></mat-divider>
            <p>Labels</p>
            <button mat-icon-button>
                <mat-icon>edit</mat-icon>Edit Labels
            </button>
            <mat-divider></mat-divider>
            <button mat-icon-button (click)=displayArchiveNotes()>
                <mat-icon>archive</mat-icon>Archive
            </button>
            <button mat-icon-button (click)=displayTrashNotes()>
                <mat-icon>delete_outline</mat-icon>Trash
            </button>
        </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content fxLayout="row" fxLayoutAlign="center start ">
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>