<mat-toolbar class="toolbar-container" fxLayoutAlign="space-between center">
    <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>list</mat-icon>
    </button>
    <img src='../../../assets/images/FundooNotes1.jpeg' fxHide.lt-md="true">
    <mat-card fxFlex="50" fxHide.lt-sm="true" style="padding: 2px">

        <input class="my-form" fxFlex="100" fxFlex.xs="100" fxLayout="row" FxLayoutAlign="start stretch" matinput
            type="search" class="search-container" id="search" placeholder="Search" appearance="outline"
            fxHide.lt-sm="true" (keyup)="onKeyUp($event)" routerLink="/search">

    </mat-card>

    <div class="icon-tray" fxFlex="15" fxFlex.xs="100" fxLayout="row" fxLayoutAlign="space-around stretch">
        <button mat-icon-button fxHide.md="true" (click)="opened = !opened">
            <mat-icon>search</mat-icon>
        </button>
        <button mat-icon-button (click)="opened = !opened">
            <mat-icon>refresh</mat-icon>
        </button>
        <button mat-icon-button (click)="opened = !opened">
            <mat-icon>list_view</mat-icon>
        </button>
        <button mat-icon-button (click)="opened = !opened">
            <mat-icon>settings</mat-icon>
        </button>
    </div>
    <div fxFlex="10" fxFlex.xs="100" fxLayout="row" fxLayoutAlign="start center">
        <button mat-icon-button (click)="opened = !opened">
            <mat-icon>grid_on</mat-icon>
        </button>
        <img class="image" [src]="url" [matMenuTriggerFor]="imageMenu">
    </div>
    <div>
        <mat-menu class="image-menu" #imageMenu="matMenu" [overlapTrigger]="false">
            <mat-card class="image-menu-container" fxFlex="100" fxLayout="column" fxLayoutAlign="space-between stretch">
                <mat-card-content class="content-container" fxFlex="75" fxLayout="row">
                    <div class="picture-container" fxFlex="50" fxLayoutAlign="space-evenly center" fxLayout="column">
                        <img class="image-button" [src]="url" (click)=openDialog()>
                        <!-- <label class="text-label">Change</label> -->
                    </div>
                    <div fxFlex="50">
                        <p class="name-container" fxLayoutGap="6px">{{firstName}} {{lastName}}</p>
                        <p class="email-container">{{email}}</p>
                    </div>
                </mat-card-content>
                <mat-divider></mat-divider>
                <mat-card-footer class="footer-container" fxLayout="row" fxLayoutGap="20px"
                    fxLayoutAlign="space-between stretch">
                    <div>
                        <button mat-raised-button class="button-item" (click)="registerAccount()">Add Account</button>
                    </div>
                    <div>
                        <button mat-raised-button class="button-item" (click)=logout()>Logout</button>
                    </div>
                </mat-card-footer>
            </mat-card>
        </mat-menu>
    </div>
</mat-toolbar>
<mat-divider></mat-divider>
<mat-drawer-container class="sideNav-container" fxLayout="column">
    <mat-drawer class="sideNav-drawer" #drawer mode="side">
        <mat-nav-list fxLayout="column" fxLayoutAlign="space-around stretch">
            <mat-list-item (click)="displayAvailableNotes()" (click)=drawer.toggle()>
                <mat-icon>note</mat-icon><span>Notes</span>
            </mat-list-item>
            <mat-list-item >
                <mat-icon>notifications_none</mat-icon>Reminders
            </mat-list-item>
            <mat-divider></mat-divider>
            <p class="header">Labels</p>
            <mat-nav-list *ngFor="let value of labelList">
                <mat-list-item (click)="showLabelsNotes(value.label)" routerLink='/labelList' (click)=drawer.toggle() ><mat-icon >label_important_outline</mat-icon>{{value.label}}</mat-list-item>
            </mat-nav-list>
            <mat-list-item (click)="editLabels()" (click)=drawer.toggle()>
                <mat-icon >edit</mat-icon>Edit Labels
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item mat-icon-button  (click)=displayArchiveNotes() (click)=drawer.toggle()>
                <mat-icon>archive</mat-icon>Archive
            </mat-list-item>
            <mat-list-item mat-icon-button (click)=displayTrashNotes() (click)=drawer.toggle()>
                <mat-icon>delete_outline</mat-icon>Trash
            </mat-list-item>
        </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content fxLayout="row" fxLayoutAlign="center start">
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>