@import '../../styles/colors.scss'; 
@import '../../styles/constants.scss';

body{
    background-color: $bgcolor1;
}
.bod{
    background:$bgcolor1;
}
.toolbar-card{
    padding:$paddingToolbar;
}
.toolbar-container{
    background-color: $bgcolor1;
}
.search-container{
    height: $searchBarHeight;
    width:$searchBarWidth;
    background-color: $searchBarColor;
}
.sideNav-container{
    height:100%;
    width:100%;  
}
.sideNav-drawer{
    width:20%;
    background-color: $bgcolor1; 
}

