<div class="icontray-container" fxlayoutAlign="space-around stretch">
    <button mat-icon-button matTooltip="Add Reminder" (click)="getNotes()">
        <mat-icon>
            add_alert
        </mat-icon>
    </button>
    <button mat-icon-button matTooltip="Choose color" [matMenuTriggerFor]="menu_color">
        <mat-icon>
            palette
        </mat-icon>
    </button>
    <button mat-icon-button matTooltip="Add Image">
        <mat-icon>
            photo
        </mat-icon>
    </button>
    <button mat-icon-button matTooltip="Archive" (click)=archiveNotes()>
        <mat-icon>
            archive
        </mat-icon>
    </button>
    <button mat-icon-button matTooltip="Options" [matMenuTriggerFor]="rootMenu">
        <mat-icon>
            more_vert
        </mat-icon>
    </button>
    <mat-menu #rootMenu="matMenu" [overlapTrigger]="false">
        <button mat-menu-item (click)=deleteNotes()>Delete note</button>
        <button mat-menu-item>Settings</button>
        <button mat-menu-item [matMenuTriggerFor]="subMenu">Add Labels</button>
    </mat-menu>
    <mat-menu #subMenu="matMenu">
        <div class="label-container" (click)="$event.stopPropagation()">
            <div>
                <mat-card-title>Label Note</mat-card-title>
            </div>
            <div>
                <input class="full-width-label" autocomplete="off" input matInput placeholder="Add Label name"
                    name="label" [formControl]="label" (keyup.enter)="createLabel()">
            </div>
            <div class="checkbox-list" >
                <mat-checkbox (click)="$event.stopPropagation()" *ngFor="let label of storedLabels;let i-index" fxLayout="column" fxLayoutAlign="space-between start"
                     [value]="label" (change)=selectCheckbox($event) (click)="changeValue(label)"  >
                    {{label.label}}</mat-checkbox>
            </div>
        </div>
    </mat-menu>
    <mat-menu class="palette" #menu_color="matMenu" [overlapTrigger]="false">
        <button mat-mini-fab *ngFor="let color1 of colorArray" [ngStyle]="{'background':color1.color}"
            (click)="changeColor(color1.color)"></button>
    </mat-menu>
</div>