<div>
    <button mat-icon-button matTooltip="Add Reminder">
        <mat-icon>
            add_alert
        </mat-icon>
    </button>
    <button mat-icon-button matTooltip="Choose color" (click)="openColorPallete()">
            <!-- <p [style.color]="color1"></p>
            <input  [(colorPicker)]="color1" (colorPickerChange)="onChangeColor($event)"> -->
        <mat-icon>
            palette
        </mat-icon>
    </button>
    <button mat-icon-button matTooltip="Add Image">
        <mat-icon>
            photo
        </mat-icon>
    </button>
    <button mat-icon-button matTooltip="Archive">
        <mat-icon>
            archive
        </mat-icon>
    </button>
    <button mat-icon-button matTooltip="Options">
        <mat-icon>
            more_vert
        </mat-icon>
    </button>
    <button mat-button matTooltip="Close Note" (click)="saveNotes()">Close
    </button>
</div>