<div>
    <button mat-icon-button matTooltip="Add Reminder" (click)="getNotes()">
        <mat-icon>
            add_alert
        </mat-icon>
    </button>
    <button mat-icon-button matTooltip="Choose color" [matMenuTriggerFor]="menu_color">
        <mat-icon>
            palette
        </mat-icon>
    </button>
    <button mat-icon-button matTooltip="Add Image">
        <mat-icon>
            photo
        </mat-icon>
    </button>
    <button mat-icon-button matTooltip="Archive" (click)=archiveNotes()>
        <mat-icon>
            archive
        </mat-icon>
    </button>
    <button mat-icon-button matTooltip="Options" [matMenuTriggerFor]="more_options">
        <mat-icon>
            more_vert
        </mat-icon>
    </button>
    <mat-menu #more_options="matMenu" [overlapTrigger]="false">
        <mat-action-list role="list">
            <button mat-list-item (click)=deleteNotes()>Delete</button>
        </mat-action-list>
    </mat-menu>
    <button mat-button matTooltip="Close Note" (click)="saveNotes()">Close
    </button>
    <mat-menu class="palette" #menu_color="matMenu" [overlapTrigger]="false">
        <button mat-mini-fab *ngFor="let color1 of colorArray"
            [ngStyle]="{'background':color1.color}" (click)="changeColor(color1.color)"></button>
    </mat-menu>
</div>