
.mat-icon{
    font-size: 15px;
}
// .icontray-container{
   
// }
::ng-deep .palette {
    width: 147px !important; 
    height: 115px !important; 
  }
  .mat-mini-fab{
    width: 30px;
    height: 30px;
    margin:1.5px;
    
  }
  .mat-card-title{
    font-size: 15px;
  }
  .full-width-label{
    border:none;
    outline:none;
    font-size:12px;
    width:180px;
  }
  .label-container{
    min-width:200px;
    min-height:80px;
    padding:6px;
  }
  .checkbox-list{
    padding-top:10px;
  }