
<mat-card class="take-note-container" [ngStyle]='{background:color}' >
  <div class="head-container" (click)="show()" *ngIf=showTitle  >Take a Note..
  </div>

  <div *ngIf=!showTitle fxLayout="row" class="title-container">
      <textarea class="full-width-title" input matInput placeholder="Title" name="title" [formControl]="title"
      cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" [ngStyle]='{background:color}'>
    </textarea>
    <div>
      <img style="height: 18px" *ngIf=!pin src="../../../assets/images/icons8-pin-50.png" (click)=pinNotes()>
    </div>
    <div>
      <img style="height: 18px" *ngIf=pin src="../../../assets/images/icons8-pin-50 (1).png" (click)=pinNotes()>
    </div>
  </div>
  <div *ngIf=!showTitle class="description-container">
      <textarea class="full-width" matInput placeholder="Description" name="description" [formControl]="description" cdkTextareaAutosize
      #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="3" [ngStyle]='{background:color}'></textarea>
  </div>

  <div >
    <div *ngIf= "reminder.length!=0">
      <button mat-mini-fab class="label-item" [ngStyle]="{background: 0000}">
        <div fxLayout="row">
            <img src="../../../assets/images/schedule-24px.svg" class="reminder" width="15px"
                height="15px">
            <a class="labelText">{{reminder|date: 'medium'}}</a>
            <div >
                <img src="../../../assets/images/clear-24px.svg" class="tick"
                     class="clear" (click)=removeReminder() width="10px" height="10px">

            </div>
        </div>

    </button>
    </div>

    <button mat-mini-fab *ngFor="let labels of noteLabel" class="label-item"
    [ngStyle]='{background:color}'>{{labels.label}}
    <mat-icon class="close-icon" >close</mat-icon>
  </button>

  </div>
  <div *ngIf=!showTitle class="icon-container" fxLayout="row">
    <app-icontray [note]="note" fxLayoutAlign="space-between stretch" (checkboxEvent)="addLabels($event)" (reminderEvent)=setReminder($event)  (colorEvent)="setColor($event)"></app-icontray>
    <button mat-button matTooltip="Close Note" (click)="addNotes(pin)"  >Close</button>
  </div>
</mat-card>



<!-- <mat-accordion fxFlex="60" style="padding-left: 150px">
  <mat-expansion-panel class="expansion-container" fxFlex.xs="100" hideToggle="true" [expanded]="panelOpenState" [ngStyle]='{background:color}' #example >
    <mat-expansion-panel-header >
      <mat-panel-title *ngIf="!example.expanded" fxLayoutAlign="start center">
        Take a Note..
      </mat-panel-title>
      <mat-panel-description fxLayoutAlign="end center" fxFlex="30">
        <mat-icon *ngIf="!example.expanded"></mat-icon>
        <mat-icon *ngIf="example.expanded"></mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-form-field class="full-width">
      <textarea matInput placeholder="Title" name="title" [formControl]="title" cdkTextareaAutosize
        #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"></textarea>
    </mat-form-field>
    <mat-form-field class="full-width">
      <textarea input matInput placeholder="Take a Note" name="description" [formControl]="description"
        cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="3">
      </textarea>
    </mat-form-field>
    <mat-action-row fxFlex="100" fxLayout="row" fxLayoutAlign="space-around start">
      <app-icontray (colorEvent)="setColor($event)"></app-icontray>
      <button mat-button matTooltip="Close Note" (click)="addNotes()" (click)="toggle(example)">Close
    </button>
    </mat-action-row> 
  </mat-expansion-panel>
</mat-accordion>   -->