// .expansion-container{
//     width:150%; 
.full-width{
    width:34vw;
    border:none;
    outline:none;
    font-size:12px; 
}
.full-width-title{
    width:34vw;
    border:none;
    outline:none; 
    font-size:18px;
}
.take-note-container{
    width:35vw;
    margin-left:150px;
    margin-top:5px;
    padding:8px;
}
.icon-container{
    width:35vw;
}
.img.style{
    width:18px;
    height:18px;
}
.description-container{
    padding-top:10px;
}

::ng-deep.label-item{
    margin:3px;
    //background-color: rgb(230, 223, 223);
    border-radius: 20px;
   //max-width:70px;
   width: inherit;
   height: 20px;
   line-height: 17px;
   filter: brightness(85%);
   
   .mat-button-wrapper {
   padding: 0px;
   line-height: 18px;
  
  }
}