<app-notefield></app-notefield>
<mat-card *ngFor="let value of notes; let i = index" class="grid-item" fxLayout="column"
  fxLayoutAlign="space-between start" [ngStyle]='{background:value.color}' (click)="openDialog(this.value)">
  <div >
    <mat-card-title >{{value.title}}</mat-card-title>
    <mat-card-content >{{value.description}}</mat-card-content>
  </div>
  <mat-card-footer>
    <app-icontray [noteId]="value.id" (displayNoteAfterDelete)="display($event)"
      (colorEvent)="setColor($event,value.id)" (displayNoteAfterArchive)="displayArch($event)"></app-icontray>
  </mat-card-footer>
</mat-card>