// mat-grid-list{
//   height: 100vh;
//   width:100vw;
// }
// mat-grid-tile{
  
// }
.grid-item{
  margin:10px;
  border-radius:4%; 
  width:20vw;
  word-break: break-all;
  min-height:15vh;
}
.display-container{
  width:65vw;
}
.header{
  color: #5f6368;
  font-family: Roboto,Arial,sans-serif;
    font-size: .6875rem;
    font-weight: 500;
    line-height: 1rem;
    text-transform: uppercase;
}