
.grid-item{
  margin:10px;
  border-radius:4%; 
  width:20vw;
  word-break: break-all;
  min-height:inherit;
  padding:10px;
}
.display-container{
  width:65vw;
}
.header{
  color: #5f6368;
  font-family: Roboto,Arial,sans-serif;
    font-size: .6875rem;
    font-weight: 500;
    line-height: 1rem;
    text-transform: uppercase;
}
.label-container{
  padding-top: 5px;
  padding-bottom:5px;
  
}
::ng-deep.label-item{
  margin:3px;
  //background-color: rgb(230, 223, 223);
  border-radius: 20px;
 //max-width:70px;
 width: inherit;
 
 line-height: 17px;
 filter: brightness(85%);
 
 .mat-button-wrapper {
 padding: 0px;
 line-height: 18px;

}
}
.close-icon{
  font-size:10px;
  height:10px;
  width:10px;
}

@media only screen and (max-width:760px){
  [class*="label-"]{
    height:20px;
  }
}

@media only screen and (max-width:1028px){
  [class*="grid-item"]{
          width:30vw;
    }
  }
  @media only screen and (max-width:820px){
    [class*="grid-item"]{
            width:60vw;
      }
    }

    .question-container{
      cursor:pointer
    }

  