@import '../../styles/colors.scss';
  
.bod{
  position: absolute;
  top:0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  // margin: auto;
  background-color:$bgcolor;

}
.title{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 16px;
    padding-bottom: 6px;
    background-color:$bgcolor1;
}
.reset-Container{
  // position: absolute;
  top:0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  // margin: auto;
  // height: 600px;
  // width: 450px;
  // display:flex;
  // flex-direction: column;
}
.full-width{
  width:47%;
}
img{
    height:130px;
    width:130px;
}
.mat-raised-button{
    background-color: $bgcolor;
}