<div class="bod" fxFlex="100" fxLayoutAlign="center center">

    <mat-card fxFlex="35" fxFlex.xs="100" class="login-Container" fxLayout="column" fxLayoutAlign="center center">

        <mat-card-content class="fundooNotesLogo" fxFlex="15" fxLayoutAlign="center center">
            <img src="../../../assets/images/FundooNotes.jpeg">
        </mat-card-content>
        <mat-toolbar class="title" fxLayoutAlign="center stretch">
            <span>Sign In</span>
        </mat-toolbar>
        <mat-card-content>
            <form class="my-form">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput name="email" [formControl]="email" required>
                    <mat-error *ngIf="email.invalid"> {{getEmailInvalidMessage()}}</mat-error>
                </mat-form-field>
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput name="password" [formControl]="password" [type]="hide ? 'password' : 'text'">
                    <mat-error *ngIf="password.invalid">{{getPasswordInvalidMessage()}}</mat-error>
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
            </form>
            <mat-card-actions>
                <p fxLayout="column" fxLayoutAlign="space-around center">
                    <a [routerLink]="['/forgotPassword']">Forgot password?</a></p>
            </mat-card-actions>
            <mat-card-actions class="button" fxLayout="row" fxLayoutAlign="space-around center">
                <button mat-raised-button (click)="loginUser(email.value,password.value)">Login</button>
                <button mat-raised-button [routerLink]="['/register']">Register</button>
            </mat-card-actions>
        </mat-card-content>
    </mat-card>
</div>