.mat-dialog-content{
    padding-left: 0px;
    padding-right: 0px;
    padding-top:0px;
    min-width: 300px;
}
@media only screen and (max-width:760px){
    [class*="mat-dialog-content"]{
        min-width:200px;
    }
}
::ng-deep.mat-dialog-container{
    padding-top:0px;
    padding-bottom:0px;
}
.mat-card{
    width:450px;
    min-height: 153px;
}
@media only screen and (max-width:760px){
    [class*="mat-card"]{
        width:200px;
        
    }
}
.close-button{
    width:150px;
    padding-bottom:6px;
    padding-left:80px;
}

.full-width{
    outline: none;
    border:none;
    padding:5px;
    font-size: 20px;
}
.full-width-title{
    outline: none;
    border:none;
    padding:5px;
    font-size: 30px;
}

