.mat-dialog-content{
    padding-left: 0px;
    padding-right: 0px;
    padding-top:0px;
    min-width: 300px;
}
@media only screen and (max-width:760px){
    [class*="mat-dialog-content"]{
        min-width:200px;
    }
}
::ng-deep.mat-dialog-container{
    padding-top:0px;
    padding-bottom:0px;
}
.mat-card{
    width:450px;
    min-height: 153px;
}
@media only screen and (max-width:760px){
    [class*="mat-card"]{
        width:200px;
        
    }
}
.close-button{
    width:100px;
    padding-top:2px;
    padding-bottom:6px;
    padding-left:20px;
}

.full-width{
    outline: none;
    border:none;
    padding:5px;
    font-size: 20px;
}
.full-width-title{
    outline: none;
    border:none;
    padding:5px;
    font-size: 30px;
}

::ng-deep.label-item{
    margin:3px;
    //background-color: rgb(230, 223, 223);
    border-radius: 20px;
   //max-width:70px;
   width: inherit;
   height: 20px;
   line-height: 17px;
   filter: brightness(85%);
   
   .mat-button-wrapper {
   padding: 0px;
   line-height: 18px;
  
  }
}

.label-container{
    padding-top: 5px;
    padding-bottom:5px;
    
  }