.mat-dialog-content{
    padding-left: 0px;
    padding-right: 0px;
    min-width: 300px;
}
.mat-card{
    width:450px;
    min-height: 120px;
}
.close-button{
    width:200px;
    padding-bottom:6px;
    padding-left:80px;
}


